{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Home{% endblock %} - My To Do List
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="min-vh-100 d-flex flex-column">
    {% include "header.html" %}
    <main class="flex-grow-1 d-flex flex-column my-5">
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>
