# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables and settings
.env

# Ignore database and media files (if any)
*.sqlite3
media/

# Ignore migrations and compiled files (optional)
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
